doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    p Enter your email to subscribe : #{title}

    form(name='newssubscriptionform' method='post' action='/newsletter/subscribe')
        label Email:
        input(type='text' placeholder='Example@email.com' name='email')
        input(type='hidden' name='_csrf' value="#{_csrf}")
        button(type='submit') subscribe
        label #{errors}

